# Test files
tests/
conftest.py
test_main.py

# Docker files
Dockerfile*
.dockerignore

# Cache
__pychache__/
.pytest_cache/

# Git files
.git
.gitignore

# License files
LICENSE*

# Database table initialization file
init_database.py