# Database configurations
db_hostname="ADD YOUR HOST"
db_password="ADD YOUR DB PASSWORD"
db_database="ADD YOUR DB NAME"
db_username="ADD YOUR DB USERNAME"
db_port="ADD YOUR DB PORT"
db_type="postgresql"
db_connection="psycopg2"

# Initial admin config settings
include_admin_user="false"

system_user_first_name="ADD YOUR SYSTEM USER FIRST NAME"
system_user_last_name="ADD YOUR SYSTEM USER LAST NAME"
system_user_email="ADD YOUR SYSTEM USER EMAIL"
system_user_unhashed_key="ADD UNIQUE API KEY"